<p>Olá {{ promoter }}</p>
<br>
<div>Informamos que o usuario {{ user }} acabou de se cadastrar no seguinte evento:</div>
<br>
<div style="background: whitesmoke; width: 100%">
  Titulo: {{title}}, <br>
  Data: {{date}}, <br>
  Local: {{ location }} <br>
</div>
